<section id="licenses" class="licenses">

  <div class="container">
    <h1 class="title title-one section">ліцензії, дозволи та сертифікати</h1>
    <div class="licenses__inner">
      <a class="licenses__item" *ngFor="let license of licenses" data-fancybox [href]="license.pdfLink">
        <div class="licenses__item-text">{{license.text}}</div>
        <a class="licenses__item-link" >
          <img class="licenses__item-img"
               [src]="license.img"
               [alt]="license.text"></a>
      </a>
    </div>
  </div>
</section>
