<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <img class="footer__logo" src="assets/img/footer-logo.svg" alt="footer-logo">
      <nav class="footer__menu">
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="">Про компанію</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="">Проекти</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="">Партнери</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="">Сертіфікати</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="">Контакти</a>
          </li>
        </ul>
      </nav>
      <div class="footer__info">
        <div class="footer__address">
          <h4 class="footer__address-title">Адреса</h4>
          <div class="footer__address-text">м. Харків пр. Правди 10 к. 27Е</div>
        </div>
        <div class="footer__contact">
          <h4 class="footer__contact-title">Контакти</h4>
          <div class="footer__contact-text">(057) 7882032</div>
          <div class="footer__contact-text">(050) 4241111</div>
          <div class="footer__contact-text">bmy.euss@gmail.com</div>
        </div>
      </div>
      <form class="footer__form">
        <div class="footer__form-text">Є питання?</div>
        <div class="footer__form-text">Залиште свої контакти і ми з вами зв’яжемося</div>
        <input class="footer__form-inp" type="text" placeholder="Пошта">
        <input class="footer__form-inp" type="text" placeholder="Телефон">
        <button class="btn footer__form-btn">Відправити</button>
      </form>
    </div>
  </div>
</footer>
