@import 'src/assets/css/settings';

.footer {
  padding-block: 50px;
  background-color: $dark-blue;
  color: $white;

  &__inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__logo {
    margin-right: 65px;
  }

  &__menu {
    margin-right: 45px;
    @media  screen and (max-width: 900px) {
      display: none;
    }
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-item {
      padding-bottom: 10px;
    }

    &-link {
      font-weight: 400;
      font-size: 18px;
      line-height: 17px;
    }
  }

  &__info {
    margin-right: 60px;
  }

  &__address {
    &-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 17px;

    }

    &-text {
      font-family: $gotham_pro_light;
      font-size: 18px;
      font-weight: 300;
      line-height: 17px;
      margin-top: 15px;
    }
  }

  &__contact {
    margin-top: 25px;

    &-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 17px;
      margin-bottom: 15px;
    }

    &-text {
      padding-block: 2px;
      font-family: $gotham_pro_light;
      font-size: 18px;
      font-weight: 300;
      line-height: 17px;

    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-text {
      font-family: $gotham_pro_light;
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
    }

    &-inp {
      margin-top: 10px;
      height: 40px;
      border-radius: 5px;
      padding: 10px 12px;

      &::placeholder {
        font-size: 16px;
        line-height: 20px;
        color: #CFCFCF;
      }
    }

    &-btn {
      margin: 20px auto 0;
    }
  }
}
