@import 'src/assets/css/settings';

.footer {
  padding-block: 50px;
  background-color: $dark-blue;
  color: $white;
  position: relative;

  &__inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;

    @media  screen and (max-width: 960px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__logo {
    max-width: 200px;
    width: 100%;
    margin-right: 65px;
    @media  screen and (max-width: 960px) {
      max-width: 100px;
      margin-right: 15px;
    }
    @media  screen and (max-width: 380px) {
      max-width: 80px;
      margin-right: 10px;
    }
    @media  screen and (max-width: 350px) {
      display: none;
    }
  }

  &__menu {
    margin-right: 45px;
    @media  screen and (max-width: 960px) {
      display: none;
    }
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-item {
      padding-bottom: 10px;
    }

    &-link {
      font-weight: 400;
      font-size: 18px;
      line-height: 17px;
      cursor: pointer;
    }
  }

  &__info {
    margin-right: 60px;
    font-size: 18px;

    @media  screen and (max-width: 960px) {
      margin-right: 15px;
      font-size: 16px;
      align-items: center;
    }
    @media  screen and (max-width: 500px) {
      margin-right: 0;
    }
  }

  &__address {
    &-title {
      font-weight: bold;
    }

    &-text {
      font-family: $gotham_pro_light;
      font-weight: 300;
      margin-top: 10px;


      @media  screen and (max-width: 960px) {
        margin-top: 5px;
      }
    }
  }

  &__contact {
    margin-top: 25px;
    font-size: 18px;
    @media  screen and (max-width: 960px) {
      margin-right: 0;
      font-size: 16px;
    }

    &-title {
      font-weight: bold;
      line-height: 17px;
      margin-bottom: 15px;
      @media  screen and (max-width: 960px) {
        margin-bottom: 5px;
      }
    }

    &-text {
      padding-block: 2px;
      font-family: $gotham_pro_light;
      font-weight: 300;
      line-height: 17px;


    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 960px) {
      margin-top: 40px;
    }



    &-text {
      font-family: $gotham_pro_light;
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
    }

    &-inp {
      margin-top: 10px;
      height: 40px;
      border-radius: 5px;
      padding: 10px 12px;
      @media screen and (max-width: 960px) {
      }

      &::placeholder {
        font-size: 16px;
        line-height: 20px;
        color: #CFCFCF;
      }
    }

    &-btn {
      margin: 20px auto 0;
      z-index: 5;
    }
  }
}

.callback-modal {
  position: absolute;
  padding: 15px;
  bottom: 20px;
  right: 40px;
  opacity: 0;
  transition: 0.3s;
  z-index: 0;


  &.visible{
    opacity: 1;
    z-index: 999;

  }

  p {
    background: $white;
    width: 100%;
    max-width: 400px;
    padding: 5px 15px;
    color: $dark_blue;
    font-size: 16px;
    border-radius: 15px;
    text-align: center;
  }
}
