@import 'src/assets/css/settings';

.header {
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 17, 31, 0.85) 0%, rgba(0, 17, 31, 0.65) 100%);;




  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 12px;

  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-logo {
      margin-top: 80px;
    }

    &-title {
      text-align: center;
      margin-top: 20px;
      color: $blue;
      font-size: 48px;
      font-weight: 700;
      @media screen and (max-width: 860px) {
        font-size: 21px;
      }
    }

    &-text {
      text-align: center;
      height: 141px;
      margin: 40px auto 120px;
      font-size: 32px;
      color: $white;
      letter-spacing: 2px;

      @media screen and (max-width: 860px) {
        font-size: 18px;
      }
    }
  }
}

.menu {
  &__list {
    height: 100%;
    display: flex;
    align-items: center;

    &-item {
      padding-inline: 20px;
    }
    &-link {
      font-weight: 400;
      font-size: 18px;
      line-height: 17px;
      color: $white;
    }
  }
  @media screen and (max-width: 860px) {
    display: none;
  }
}


