<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="logo">
        <img class="header__logo" src="assets/img/header-logo.svg" alt="logo">
      </div>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="">Про компанію</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="">Проекти</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="">Партнери</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="">Сертіфікати</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="">Контакти</a>
          </li>
        </ul>
      </nav>
      <button class="btn">
        <a class="btn__link" href="#">Зв’язатися</a>
      </button>
    </div>

    <div class="header__content">
      <div class="header__content-logo">
        <img src="../../../assets/img/big-logo.svg" alt="logo">
      </div>
      <h1 class="header__content-title"><p>ТОВ</p>
        БУДІВЕЛЬНО-МОНТАЖНЕ УПРАВЛІННЯ
        «ЕНЕРГОЮЖСПЕЦСТРОЙ»</h1>
      <div class="header__content-text">
        <p>CONSTRUCTION AND ASSEMBLY</p>
        <p>MANAGEMENT ENERGOYUZHSPETSSTROY,</p>
        <p>LIMITED LIABILITY COMPANY</p>
      </div>
    </div>
  </div>




</header>
