<section class="partners">
  <div class="container">
    <h1 class="title title-one section">Партнери</h1>
    <div class="partners__inner">
      <h5 class="title title-five">Якість виконаних робіт та надійнсть ТОВ БМУ «Енергоюжспецстрой» можуть підтвердити
        підприємства які багато років працюють з нами:</h5>
      <div class="partners__items">
        <div class="partners__item">
          <img class="partners__item-img" src="assets/img/partners/partner-1.png" alt="partner-1"></div>
        <div class="partners__item">
          <img class="partners__item-img" src="assets/img/partners/partner-2.png" alt="partner-2"></div>
        <div class="partners__item">
          <img class="partners__item-img" src="assets/img/partners/partner-3.png" alt="partner-3"></div>
        <div class="partners__item">
          <img class="partners__item-img" src="assets/img/partners/partner-4.png" alt="partner-4"></div>
        <div class="partners__item">
          <img class="partners__item-img" src="assets/img/partners/partner-5.png" alt="partner-5"></div>
      </div>
    </div>
  </div>
</section>
