<nav class="menu">
  <ul class="menu__list">
    <li class="menu__list-item">
      <a class="menu__list-link" (click)="scrollHandler('about-us')">Про компанію</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link" (click)="scrollHandler('services')">Проекти</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link" (click)="scrollHandler('partners')">Партнери</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link" (click)="scrollHandler('licenses')">Сертіфікати</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link" (click)="scrollHandler('form')">Контакти</a>
    </li>
  </ul>

</nav>
<button class="btn menu__list-btn">
  <a class="btn__link" (click)="scrollHandler('form')">Зв’язатися</a>
</button>

