<section class="about-us">
  <div class="container">
    <h2 class="title title-one section">Про компанію</h2>
    <div class="about-us__inner">
      <div class="about-us__item">
        <div class="about-us__item-text">
          <p>Будівельна компанія, що динамічно розвивається. Заснована вона і працює на ринку будівельних послуг з 2004
            року.
            Стратегія розвитку компанії направлена на застосування передових технологій,
            прогресивних матеріалів і сучасних засобів механізації в будівництві.</p>
        </div>
        <img class="div about-us__item-img" src="assets/img/about-us/about-1.png" alt="about-1">
      </div>
      <div class="about-us__item">
        <img class="div about-us__item-img" src="assets/img/about-us/about-2.png" alt="about-2">
        <div class="about-us__item-text">
          <p>Відмінною рисою компанії є культура виробництва, мобільність структури.
            Створена структура компанії виконує в повному об’ємі будівельно-монтажні роботи і функції генерального
            підрядника,
            дає можливість підприємству працювати стабільно і рентабельно.</p>
        </div>
      </div>
      <div class="about-us__item">
        <div class="about-us__item-text">
          <p>В цілому професіоналізм інженерно-технічних працівників компанії,
            чутке планування, продумана політика кадрів дозволяє підприємству досягати високого рівня виконання робіт,
            забезпечувати оптимальні терміни виконання.
          </p>
        </div>
        <img class="div about-us__item-img" src="assets/img/about-us/about-3.png" alt="about-3">
      </div>
    </div>
  </div>
</section>
