<section class="reviews">
  <h1 class="title title-one section">відгуки клієнтів</h1>
  <div class="container">
    <div class="reviews__inner">
      <div class="reviews__list">
        <div class="reviews__item" [class.isSelect]="item.isSelect" *ngFor="let item of imageList; let i = index" (click)="changeReviewImage(i)">
          <i class="fa-solid fa-user"></i>
          <div>
            <p class="reviews__title">{{item.name.title}}</p>
            <p class="reviews__subtitle">{{item.name.subtitle}}</p>
          </div>
        </div>
      </div>
      <img class="reviews__image" [src]="currentImg.src" [alt]="currentImg.name.title">
    </div>
  </div>
</section>
