<section class="services">
  <div class="container">
    <h2 class="title title-one section">послуги</h2>
    <div class="services__inner">

      <div class="services__item">
        <h3 class="services__item-title">Виконуємо будівельно-монтажні роботи на об'єктах НАК «НафтоГаз» та нафтогазового комплексу України</h3>
        <div class="services__info">
          <div class="services__info-inner">
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <span>Обв'язка та підключення свердловин</span>
            </div>
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <span>Будівництво магістральних газопроводів,<br>
                газопроводів-шлейфів свердловин</span>
            </div>
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <span>Облаштування родовищ (реконструкція та технічного
                переоснащення об’єктів)</span>
            </div>
          </div>
          <img class="services__info-img" src="assets/img/services/services-1.png" alt="services-1">
        </div>
        <div class="services__slider">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of slidesFirst">
              <a data-fancybox="slidesFirst" [href]="slide.img">
                <img [src]="slide.img" alt="slide">
              </a>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>

      <div class="services__item">
        <h3 class="services__item-title">Виконує будівництво об'єктів наземної та транспортної інфраструктури</h3>
        <div class="services__info">
          <div class="services__info-inner">
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <span>Комплексне будівництво та реконструкція АЗС та АГЗС</span>
            </div>
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <span>Транспортне будівництво</span>
            </div>
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <span>Будівництво доріг та благоустрій території</span>
            </div>
          </div>
          <img class="services__info-img" src="assets/img/services/services-2.png" alt="services-2">
        </div>
        <div class="services__slider">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of slidesSecond">
              <a data-fancybox="slidesSecond" [href]="slide.img">
                <img [src]="slide.img" alt="slide">
              </a>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>

      <div class="services__item">
        <h3 class="services__item-title">Технічний огляд, випробування та діагностування
          підземних та підводних магістральних нафто-газопроводів</h3>
        <div class="services__info">
          <div class="services__info-inner">
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <span>Ремонт підземного та підводного ізоляційного покриття
                магістральних нафто-газопроводів</span>
            </div>
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <span>Ремонт антікорозійного та ізоляційного покриття</span>
            </div>
          </div>
          <img class="services__info-img" src="assets/img/services/services-3.png" alt="services-3">
        </div>
        <div class="services__slider">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of slidesThird">
              <a data-fancybox="slidesThird" [href]="slide.img">
                <img [src]="slide.img" alt="slide">
              </a>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
