<section class="services">
  <div class="container">
    <h2 class="title title-one section">послуги</h2>
    <div class="services__inner">

      <div class="services__item">
        <h3 class="services__item-title">Виконуємо будівельно-монтажні роботи на об'єктах НАК «НафтоГаз» та нафтогазового комплексу України</h3>
        <div class="services__info">
          <div class="services__info-inner">
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <p>Обв'язка та підключення свердловин</p>
            </div>
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <p>Будівництво магістральних газопроводів,
                газопроводів-шлейфів свердловин</p>
            </div>
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <p>Облаштування родовищ (реконструкція та технічного
                переоснащення об’єктів)</p>
            </div>
          </div>
          <img class="services__info-img" src="assets/img/services/services-1.png" alt="services-1">
        </div>
        <div class="services__slider"></div>
      </div>

      <div class="services__item">
        <h3 class="services__item-title">Виконує будівництво об'єктів наземної та транспортної інфраструктури</h3>
        <div class="services__info">
          <div class="services__info-inner">
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <p>Комплексне будівництво та реконструкція АЗС та АГЗС</p>
            </div>
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <p>Транспортне будівництво</p>
            </div>
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <p>Будівництво доріг та благоустрій території</p>
            </div>
          </div>
          <img class="services__info-img" src="assets/img/services/services-2.png" alt="services-2">
        </div>
        <div class="services__slider"></div>
      </div>

      <div class="services__item">
        <h3 class="services__item-title">Технічний огляд, випробування та діагностування
          підземних та підводних магістральних нафто-газопроводів</h3>
        <div class="services__info">
          <div class="services__info-inner">
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <p>Ремонт підземного та підводного ізоляційного покриття
                магістральних нафто-газопроводів</p>
            </div>
            <div class="services__info-text">
              <img src="assets/img/services-accept.svg" alt="accept">
              <p>Ремонт антікорозійного та ізоляційного покриття</p>
            </div>
          </div>
          <img class="services__info-img" src="assets/img/services/services-3.png" alt="services-3">
        </div>
        <div class="services__slider"></div>
      </div>
    </div>
  </div>
</section>
