@import 'assets/css/settings';
@import "assets/css/reset";


body {
  font-family: $gotham_pro;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 0 15px;
}

.btn {

  display: inline-block;
  position: relative;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  color: $dark_blue;
  background-color: $yellow;
  transform: skew(160deg);
  transition: 0.3s;


  &__link {
    padding: 7px 48px;
    text-decoration: none;
    color: unset;
    font-family: $monserrat;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    transform: skew(-160deg);
    transition: 0.2s;
  }

  &:hover {
    color: $white;
    background-color: $blue;
  }
}


