<section class="experience">
  <div class="container">
    <h2 class="title title-one section">ДОСВІД</h2>
    <div class="experience__inner">
      <div class="experience__block">
        <h5 class="title title-five">Виконує всі види будівельно-монтажних робіт
          любої ступені складності «під ключ» в т.ч.</h5>
        <div class="experience__item-list">
          <div class="experience__item">
            <img class="experience__item-img" src="assets/img/experience/exp-1.png" alt="">
            <p class="experience__item-text">Загально-будівельні роботи</p>
          </div>
          <div class="experience__item">
            <img class="experience__item-img" src="assets/img/experience/exp-2.png" alt="">
            <p class="experience__item-text">Будівництво будівель та споруд громадського та промислового призначення</p>
          </div>
          <div class="experience__item">
            <img class="experience__item-img" src="assets/img/experience/exp-3.png" alt="">
            <p class="experience__item-text">Будівельно - монтажні роботи загального призначення</p>
          </div>
          <div class="experience__item">
            <img class="experience__item-img" src="assets/img/experience/exp-4.png" alt="">
            <p class="experience__item-text">Виконання пусконалагоджувальних робіт</p>
          </div>
        </div>
      </div>
      <div class="experience__block">
        <h5 class="title title-five">Виконує будівництво об'єктів інженерної інфраструктури</h5>
        <div class="experience__item-list">
          <div class="experience__item">
            <img class="experience__item-img" src="assets/img/experience/exp-5.png" alt="">
            <p class="experience__item-text">Монтаж внутрішніх та зовнішніх інженерних мереж, систем, приладів і засобів
              вимірювання, іншого обладнання.
            </p>
          </div>
          <div class="experience__item">
            <img class="experience__item-img" src="assets/img/experience/exp-6.png" alt="">
            <p class="experience__item-text">Монтаж інженерних споруд</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
